{% extends 'home/base.html'%}{% block title %} {% endblock %} {% block content %}


<style type="text/css">
    .font1 {
        padding-top: 20px;
        font-family: 'Niconne', cursive;
    }
    
    .bg1 {
        padding: 70px;
        background: url(static/home/images/6.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0.9;
        filter: alpha(opacity=50);
    }
    
    .button {
        margin-left: 220px;
        background-color: #f44336;
        padding: 10px 24px;
        font-size: 15px;
        border-radius: 12px;
    }
</style>
</head>

<body>
    <div class="bg1">
        <div class="f1 ">
            <b>
                <center>
            <h1 align="center " class="font1 "> Santa will need the following details to deliver your gift, kindly fill them. </h1>
            <form method="POST " action="form ">
                {% csrf_token%}
                <fieldset class="fs ">
                    <div class="form-row ">
                        <div class="form-group col-md-3 ">
                        </div>
                        <div class="form-group col-md-6 ">
                            <label>Name</label>
                            <input type="text " class="form-control " name="username" required>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="form-group col-md-3 ">
                        </div>
                        <div class=col-md-6>
                            <div class="form-group ">
                                <label>Mobile Number</label>
                                <input type="number " class="form-control " name="mob_no " required>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="form-group col-md-3 ">
                        </div>
                        <div class=col-md-6>
                            <div class="form-group ">
                                <label><address>Address</address></label>
                                <input type="address " class="form-control " name="address " required>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="form-group col-md-3 ">
                        </div>
                        <div class="form-group col-md-3 ">
                            <button type="submit " class="button " class="f1">
                            <a href="{%url 'home:final'%} " style="color:white ">Submit</a></button>
                        </div>
                    </div>
                    </center>
                </b>
            </fieldset>

            </form>


        </div>
        {{data}} {% endblock %}